//variables
$basic-spinner-dimensions: 125px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - 4px * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle

.c-loading-spinner {
  margin: auto;

  &__loader {
    position: relative;
    width: 82px;
    height: 82px;
    margin: 0 auto;

    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }

  &__loader {
    @keyframes rotate-animation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes anti-rotate-animation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-360deg);
      }
    }

    &:after {
      width: $small-spinner-dimensions;
      height: $small-spinner-dimensions;
      border-bottom-color: #000;
      border-right-color: #000;
      border-top-color: rgba(rgb(2, 2, 2), 0);
      border-left-color: rgba(rgb(0, 0, 0), 0);
      top: (#{$main-spinner-dimensions} - #{$small-spinner-dimensions}) / 2;
      left: (#{$main-spinner-dimensions} - #{$small-spinner-dimensions}) / 2;
      animation: anti-rotate-animation 0.85s linear 0s infinite;
    }

    &_white {
      &:after {
        border-bottom-color: #fff;
        border-right-color: #fff;
        border-top-color: rgba(rgb(255, 255, 255), 0);
        border-left-color: rgba(rgb(255, 255, 255), 0);
      }
    }
  }
}
