.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 68px;

  &-title {
    padding: 48px 0 0;
    margin: 0 auto 36px;
    color: #0000ff;
    text-align: center;

    &_colored {
      color: #000;
    }
  }
}

.list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__item {
    border-radius: 8px;
    color: grey;
    border: 1px solid grey;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out color, 0.3s ease-in-out border;

    &:hover {
      border-color: #0000ff;
      color: #0000ff;
    }

    &-title {
      font-size: 20px;
      line-height: 24px;
      color: inherit;
      margin: 0 0 24px;
    }

    &-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-time {
      font-size: 18px;
      line-height: 22px;
    }

    &-author {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.button {
  position: fixed;
  bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background: #000;
  padding: 10px 16px;
  cursor: pointer;
}
